<div class="col-md-8">
    <table border="2">
        <tbody>
            <tr>
                <td style="text-align: center;" colspan="2"><span style="color: #e11515;"><strong><strong>Arunachal Pradesh PSC</strong></strong></span>
                    <p></p>
                    <p style="text-align: center;"><span style="color: #008000;"><strong><strong>Junior Engineer</strong>&nbsp;Post 2018</strong></span></p>
                    <p style="text-align: center;"><strong><a href="" target="_blank">www.warbheroshana@gmail.com</a></strong></p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;"><span style="color: #e11515;"><strong>Application Fee</strong></span>
                    <p></p>
                    <ul>
                        <li style="text-align: left;">Non APST:<strong> Rs. 160/-</strong></li>
                        <li style="text-align: left;">APST: <strong>Rs.</strong>&nbsp;<strong>100/-</strong></li>
                        <li style="text-align: left;">Pay the examination fee through online</li>
                    </ul>
                </td>
                <td style="text-align: center;">&nbsp;<span style="color: #e11515;"><strong>Important Dates</strong></span>
                    <p></p>
                    <ul>
                        <li>Last Date to Apply Online:&nbsp;<strong>20-04-2018</strong></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;"><strong>&nbsp;<span style="color:#e11515;">Age Limit (as on 20-04-2018)</span></strong>
                    <p></p>
                    <ul>
                        <li style="text-align: left;">Minimum age:&nbsp;<strong>18 years</strong></li>
                        <li style="text-align: left;">Maximum age:&nbsp;<strong>30 years</strong></li>
                        <li style="text-align: left;">Age relaxation is applicable as per rules</li>
                    </ul>
                </td>
                <td style="text-align: center;">&nbsp;<span style="color: #e11515;"><strong>Qualification:</strong></span><strong></strong>
                    <p></p>
                    <ul>
                        <li style="text-align: left;">Diploma/ Degree in Engg. (Relevant Disciplines)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;" colspan="2">&nbsp;<span style="color: #e11515;"><strong>Vacancy Details</strong>&nbsp;</span></td>
            </tr>
            <tr>
                <td style="text-align: center;">&nbsp;<span style="color: #b100fa;"><strong>Post Name</strong></span></td>
                <td style="text-align: center;">&nbsp;<span style="color: #b100fa;"><strong>Total</strong></span></td>
            </tr>
            <tr>
                <td style="text-align: center;"><span style="color: #000000;">Junior Engineer</span></td>
                <td style="text-align: center;"><span style="color: #000000;">114</span></td>
            </tr>
            <tr>
                <td style="text-align: center;" colspan="2">&nbsp;&nbsp;<span style="color: #0000ff;"><strong>Interested Candidates Can Read the Full Notification Before Apply Online</strong></span></td>
            </tr>
            <tr>
                <td style="text-align: center;" colspan="2">&nbsp;<span style="color: #e11515;"><strong>Important Links&nbsp;</strong></span></td>
            </tr>
            <tr>
                <td style="text-align: center;"><strong><span style="color: #008000;"><strong>Apply Online</strong></span>
                    </strong>
                </td>
                <td style="text-align: center;"><strong><a title="Arunachal Pradesh PSC" href="" target="_blank"><strong>Click here</strong></a>
                    </strong>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;"><strong><span style="color: #008000;">Notification</span>&nbsp;</strong></td>
                <td style="text-align: center;"><strong><a title="Arunachal Pradesh PSC" href="http://" target="_blank">Click here</a></strong></td>
            </tr>
            <tr>
                <td style="text-align: center;"><span style="color: #008000;"><strong>&nbsp;Official Website</strong></span></td>
                <td style="text-align: center;"><strong><strong><a title="Arunachal Pradesh PSC" href="http://a/" target="_blank">&nbsp;Click Here</a></strong></strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4"></div>