<div class="fluid-container">
    <div class="">

        <div class="col-md-12 foot">
            <div class="col-md-4">
                <ul>
                    <li><a href="">Contact Us</a></li>

                    <li><a href="">About Us</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                   
                    <li><a href=""> Terms of Service</a></li>
                    <li><a href=""> Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 footicon">
                <ul>

                    <li><a href="">  <i class="fab fa-facebook"></i></a></li>
                    <li> <a href=""> <i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                    <li> <a href=""> <i class="fab fa-E-mail" aria-hidden="true"></i></a></li>

                </ul>


            </div>




            <div class=" col-md-12">

                <center>
                    Copyright © 2018 All Rights Reserved


                </center>
                <center>
                    Disclaimer : Any Information available on Job Sarkari Website is only for the immediate Information Purpose to the Examinees
                    and does not to be a constitute to be a Legal Document. Job sarkari is the best government jobs website.
                </center>
            </div>


        </div>
    </div>
</div>