<div class="col-md-8" style="padding-right:0px">
    <div style="height:445px;border:1px solid  gray">
        <marquee direction="up" onmouseover="this.stop();"
        onmouseout="this.start();" style="height:432px">
            <a href="">hhhhhhhhhhhhhhhhhhhhhhhgggggggggggggggggggggggggggggggggggggggggggggggggggggg</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
           <li> <a href="#">Coal India Limited Recruitment 2018 – Overman & Dy Surveyor Posts</a></li>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhhgggggggggggggggggggggggggggggggggggggggggggggggggggggg</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
            <a href="">hhhhhhhhhhhhhhhhhhhhhhh</a>
        </marquee>
    </div>
    <div class="sectionbottom" style="border:1px solid gray">
        <h6>
            <center>State Government Jobs</center>
        </h6>
        <a ng-repeat="state in home.states" ui-sref="{{state.link}}"><button type="button" ng-class="home.getClass($index)">{{state.name}}</button></a>
        <a href=""> <button type="button" class="btn btn-warning">Andhra Pradesh</button></a>
        <a href=""> <button type="button" class="btn btn-danger">Arunachal Pradesh</button></a>
    </div>
 
    
</div>
<div class="col-md-4">
    <side-bar sidebar="home.states"></side-bar>
    <side-bar sidebar="2"></side-bar>
    <!--div class="card">
        <h5 class="card-header text-white card-defualt no-margin">LATEST GOVERNMENT JOBS<span class="fa fa-map pull-right"></span></h5>
        <div class="asiteleft">
            <li><a href="#">Coal India Limited Recruitment 2018 – Overman & Dy Surveyor Posts</a></li>

            <li> <a href="#">NDMC Recruitment 2018 – Senior Resident Posts</a></li>

            <li><a href="#">DRDA Odisha Recruitment 2018 – 43 Multi Purpose Asst Posts</a></li>

            <li><a href="#">RPSC Recruitment 2018 – Apply Online for 1421 Headmaster, ASO & Other Posts</a></li>

            <li><a href="#">Engineering Jobs</a></li>

            <li><a href="#">Railway Jobs</a></li>

            <li> <a href="#">Police/Defence Jobs</a></li>

            <li> <a href="#">Medical Jobs</a></li>

            <li><a href="#">12th Pass Govt Jobs</a></li>

            <li><a href="#">10th Pass Govt Jobs</a></li>
            <button type="button" class="btn btn-primary">view</button>
        </div>
    </div>
    <div class="card">
        <h5 class="card-header text-white card-defualt no-margin">LATEST GOVERNMENT JOBS<span class="fa fa-map pull-right"></span></h5>
        <div class="asiteleft">
            <li><a href="#">Coal India Limited Recruitment 2018 – Overman & Dy Surveyor Posts</a></li>

            <li> <a href="#">NDMC Recruitment 2018 – Senior Resident Posts</a></li>

            <li><a href="#">DRDA Odisha Recruitment 2018 – 43 Multi Purpose Asst Posts</a></li>

            <li><a href="#">RPSC Recruitment 2018 – Apply Online for 1421 Headmaster, ASO & Other Posts</a></li>

            <li><a href="#">Engineering Jobs</a></li>

            <li><a href="#">Railway Jobs</a></li>

            <li> <a href="#">Police/Defence Jobs</a></li>

            <li> <a href="#">Medical Jobs</a></li>

            <li><a href="#">12th Pass Govt Jobs</a></li>

            <li><a href="#">10th Pass Govt Jobs</a></li>
            <button type="button" class="btn btn-primary">view</button>
        </div>
    </div>
    <div class="card">
            <h5 class="card-header text-white card-defualt no-margin">LATEST GOVERNMENT JOBS<span class="fa fa-map pull-right"></span></h5>
            <div class="asiteleft">
                <li><a href="#">Coal India Limited Recruitment 2018 – Overman & Dy Surveyor Posts</a></li>
    
                <li> <a href="#">NDMC Recruitment 2018 – Senior Resident Posts</a></li>
    
                <li><a href="#">DRDA Odisha Recruitment 2018 – 43 Multi Purpose Asst Posts</a></li>
    
                <li><a href="#">RPSC Recruitment 2018 – Apply Online for 1421 Headmaster, ASO & Other Posts</a></li>
    
                <li><a href="#">Engineering Jobs</a></li>
    
                <li><a href="#">Railway Jobs</a></li>
    
                <li> <a href="#">Police/Defence Jobs</a></li>
    
                <li> <a href="#">Medical Jobs</a></li>
    
                <li><a href="#">12th Pass Govt Jobs</a></li>
    
                <li><a href="#">10th Pass Govt Jobs</a></li>
                <button type="button" class="btn btn-primary">view</button>
            </div>
        </div-->
</div>