<div class="container">
    <div class="card">
        <div class="col-md-12" style="border:1px solid gray;">

            <a href=""><button type="button" class="btn btn-danger btnsize">Andaman Nicobar</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Andhra Pradesh</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Arunachal Pradesh</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize"> Assam</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Bangalore</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Bihar</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Chandigarh</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Chennai</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Chhattisgarh</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Daman & Diu</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Delhi NCR</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Goa</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Gujarat</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Haryana</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Himachal Pradesh</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Hyderabad</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Jammu Kashmir</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Jharkhand</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Karnataka</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Kerala</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Kolkata</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Lakshadweep</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Madhya Pradesh</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Maharashtra</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Manipur</button></a></a>
            <a href=""><button type="button" class="btn btn-danger btnsize" >Meghalaya</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Mizoram</button></a></a>
            <a href=""><button type="button" class="btn btn-danger btnsize" >Mumbai</button></a></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Nagaland</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Odisha</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Puducherry</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Pune</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Punjab</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Rajasthan</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Sikkim</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Tamil Nadu</button></a>
            <a href=""><button type="button" class="btn btn-danger btnsize">Telangana</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Tripura</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Uttar Pradesh</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">Uttarakhand</button></a>
            <a href=""> <button type="button" class="btn btn-danger btnsize">West Bengal</button></a>

        </div>
    </div>
</div>
<div class="col-md-9">
    <h4 style="color:black"> All Police/Defencs jobs</h4>
    <table border="2" cellpadding="2" style="color:#000000; border: 2px solid #386835;border-collapse: collapse; max-width:790px;">
        <tbody>
            <tr style="border: 1px solid #000000; background-color:#0BCEB7;">
                <th>Post Date</th>
                <th style="width:16%;">Bank Name</th>
                <th>Post Name</th>
                <th>Qualification</th>

                <th>Last Date</th>
                <th>More Information</th>
            </tr>
            <tr style="border: 1px solid #000000;">
                <td>28/03/2018</td>
                <td>Exim Bank</td>
                <td>Information Technology Officer, Legal Officer – 8 Posts</td>
                <td>Any Degree, PG (Relevant Discipline)</td>

                <td style="width:15%;">28-04-2018</td>
                <td><strong><a href="http://" target="_blank">Apply</a></strong></td>
            </tr>
            <tr style="border: 1px solid #000000;">
                <td>28/03/2018</td>
                <td>Exim Bank</td>
                <td>Administrative Officer – 5 Posts</td>
                <td>Any Degree</td>

                <td style="width:15%;">28-04-2018</td>
                <td><strong><a href="http://www.freejobalert.com/exim-bank/12681/#Administrative-Officer" target="_blank">Get Details</a></strong></td>
            </tr>
            <tr style="border: 1px solid #000000;">
                <td>28/03/2018</td>
                <td>Kangra Cooperative Bank</td>
                <td>Jr Secretary </td>
                <td>Any Degree with Typing Knowledge</td>

                <td style="width:10%;">21-04-2018</td>
                <td><strong><a href="http://www.kangrabank.com/linksfiles/vacancy2.pdf" rel="nofollow" target="_blank">Get Details..</a></strong></td>
            </tr>
            <tr style="border: 1px solid #000000;">
                <td>28/03/2018</td>
                <td>Kangra Cooperative Bank</td>
                <td>General Manager &amp; Assistant General Manager </td>
                <td>Any Degree</td>

                <td style="width:10%;">21-04-2018</td>
                <td><strong><a href="http://www.kangrabank.com/linksfiles/vacancy1.pdf" rel="nofollow" target="_blank">Get Details..</a></strong></td>
            </tr>
            <tr style="border: 1px solid #000000;">
                <td>22/03/2018</td>
                <td>Dena Bank</td>
                <td>Office Assistant, Attendant &amp; Watchman/ Gardener – 5 Posts</td>
                <td>7th, 10th Class, Any Degree/ PG (Relevant Disciplines)</td>

                <td style="width:10%;">06-04-2018</td>
                <td><strong><a href="http://www.freejobalert.com/dena-bank/15212/" target="_blank">Get Details</a></strong></td>
            </tr>
            <tr style="border: 1px solid #000000;">
                <td>20/03/2018</td>
                <td>SBI</td>
                <td>Specialist Cadre Officer (Special Management Executive, Deputy General Mana – 119 Posts
                </td>
                <td>Degree (Law), CA/ ICWA/ ACS/ MBA (Finance), PG Diploma (Finance)</td>

                <td style="width:10%;">07-04-2018</td>
                <td><strong><a href="http://www.freejobalert.com/sbi-online/20638/#SpecialistOfficer" target="_blank">Get Details</a></strong></td>
            </tr>
            <tr style="border: 1px solid #000000;">
                <td>05/03/2018</td>
                <td>YES Bank</td>
                <td>Client Relationship Partner, Business Relationship Partner, Officer </td>
                <td>Any Degree/ PG</td>

                <td style="width:10%;">-</td>
                <td><strong><a href="https://yesbank.taleo.net/careersection/careers/jobsearch.ftl" rel="nofollow" target="_blank">Get Details..</a></strong></td>
            </tr>
            <tr style="border: 1px solid #000000;">
                <td>03/03/2018</td>
                <td>YES Bank</td>
                <td>Branch Service Partner &amp; Sr Officer </td>
                <td>Any Degree/ PG</td>

                <td style="width:10%;">-</td>
                <td><strong><a href="https://yesbank.taleo.net/careersection/careers/jobsearch.ftl" rel="nofollow" target="_blank">Get Details..</a></strong></td>
            </tr>
        </tbody>
    </table>

</div>

</div>